<%- include("partials/header"); -%>

<div class="container light-bg">

    <h2 class="mt-5">FAQS</h2>
    <h3>Commonly Asked Questions</h3>
    <div class="container-fluid">

        <h4>Q. Why the thing?</h4>
        <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fugit praesentium nulla corporis earum at
            iusto maiores aut eligendi impedit.</p>

        <h4>Q. But what about the doohickey?</h4>
        <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eaque vero aperiam minus, ab architecto
            saepe expedita deserunt dolorem nemo?</p>

        <h4>Q. But surely the wotsit?</h4>
        <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, perspiciatis excepturi. Similique,
            nisi odio voluptas ipsam fuga sint doloremque tenetur praesentium laboriosam nesciunt ducimus,
            exercitationem deserunt eum impedit dolore aperiam!</p>

        <h4>Q. Bet you're pretty chuffed eh?</h4>
        <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, est!</p>

        <h4>Q. Should we stop now?</h4>
        <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minima sit expedita nam, itaque obcaecati
            dolorum harum a voluptas asperiores exercitationem recusandae quidem dicta, reprehenderit id dolores
            voluptatum ut in eaque quos veniam? Harum deserunt voluptas obcaecati laboriosam minima necessitatibus.</p>

        <%- include("partials/footer") -%>